html, body, .wrapper {
  height: 100%;
  margin: 0;
}

html {
  font-size: 16.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  background: #fff;
  font-size: 16px;

  h1, h2, h3 {
        margin: 0;
    }

    a {
        text-decoration: none;
    }
}

button {
  border: 1px solid white;
  color: white;
  font-weight: 100;
  padding: 10px 20px;
  font-size: 14px;
  letter-spacing: 0.20em;
  cursor: pointer;
  background-color: transparent;
}

.logo {
    img {
        max-width: 400px;

        @media screen and (max-width: 600px) {
            max-width: 200px;
        }
    }
}

.dash {
  color: #b0a377;
}

.widget {
  padding: 20px 0;
  background: white;
}

textarea:focus, input:focus{
    outline: 0;
}

::-webkit-input-placeholder {
    color: #d1cbbf;
}

:-moz-placeholder {
    color: #d1cbbf;
}

::-moz-placeholder {
    color: #d1cbbf;
}

:-ms-input-placeholder {
    color: #d1cbbf;
}

//BUTTONS

.button-sec {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}

a.button-prim,
button.button-prim {
    border: 1px solid #b0a377;
    color: #b0a377;
    font-weight: 100;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 0.05em;
    cursor: pointer;
    background-color: transparent;
}

.cont {
    position:relative;
    /*border:solid 2px #fff;*/
}
.front, .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.header--wrapper {
  margin: 0;
  padding: 1em 0 0;
  background: #fff;
  text-align: center;
}

.header--wrapper--sticky .nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.header--wrapper--sticky .logo {
  transition: all 0.5s ease;
  opacity: 0;
}

.logo {
  transition: all 0.5s ease;
  opacity: 1;
}

.nav {
  background: #fff;
  padding: 20px 0;
  z-index: 1001;
}

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-size: 1.2em;
    line-height: 2;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    display: block;
    transition: .3s background-color;

    &::after {
      content: '';
      border-bottom: 2px solid #000;
    }
}

.nav a:hover {
    text-decoration: underline;
}

.nav a.active {
    color: #444;
    cursor: default;
}

.mdl-textfield.mdl-js-textfield {
    width: 80%;
    max-width: 400px;
    margin: -15px auto;

    input {
        line-height: 1.80em;
        width: 100%;
    }

    &.last {
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 600px) {
    .nav li {
        border-bottom: none;
        line-height: 2;
        font-size: 14px;
        padding: 0 30px;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }

    /* Options 2 - Float
    .nav li {
      float: left;
    }
    .nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }
    .nav {
      background-color: #444;
    }
    */
}

.footer--wrapper {
  width: 100%;
  height: 500px;
  background: #eee;
}
