@import "normalize";

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16.5%;
}

body {
  padding: 0;
  margin: 0;
  background: #eee;
  font-size: 16px;

  h2, h3 {
        margin: 0;
    }
}

.header--wrapper {
  margin: 0;
  padding: 1em;
  background: #fff;
  text-align: center;
}

.widget-dummy {
  padding: 40em 0;
}

.widget01 {
    .widget01--container {
      position: relative;
      width: 100%;
      background: #ddd;
      min-height: 350px;
      overflow: hidden;

      @media only screen and (min-width: 771px) {
        float: left;
        width: 50%;
        min-height: 700px;
        background-size: cover;
      }

      @media only screen and (min-width: 1024px) {
        width: 25%;
      }

      img {
        width: 100%;
      }
    }

    .widget01--container--default {

    }

    .widget01--container--more-info {
      background: #aea276;

      .widget01--container--more-info--image {
        background-color: #fff;
        background-size: cover;
        background-repeat: no-repeat;
        top: -300px;
        opacity: 1;

        > div {
          opacity: 0;

          &.is-visible {
           opacity: 1;
           transition: opacity 0.5s ease-in-out;
         }
        }
      }
    }

    .widget01--container--swipe {
      background: #dbd7c7;
      color: #000;
    }

    .widget01--container--cta {
      background: #fff;
    }

    .widget01--block {
      position: relative;
      min-height: 175px;

      @media only screen and (min-width: 771px) {
        min-height: 350px;
      }
    }

    .widget01--heading-wrapper {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      opacity: 0;

      @media only screen and (min-width: 771px) {
        bottom: 40px;
      }
    }

    .widget01--subtitle {
      color: #fff;
      font-weight: 100;
      border-top: 1px solid white;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      padding-top: 10px;
    }

    .widget01--header {
      padding: 1rem 0 0;
      margin: 0;
      color: #fff;


      text-transform: uppercase;
      letter-spacing: 0.75rem;
      font-size: 32px;
    }
}

.widget-03 {
    position: relative;
    overflow: hidden;

    .row-1 {
      min-height: 397px;
      background-size: cover;

      @media only screen and (max-width: 1000px) {
          min-height: inherit;
          display: table;
        }
    }

    .overlay-container {
        width: 25%;
        position: absolute;
        top: -400px;
        left: 10%;
        opacity: 0;

        @media only screen and (max-width: 1000px) {
          width: 100%;
          left: 0;
          position: relative;
        }

        h3 {
            text-transform: uppercase;
        }

        .container-1,
        .container-2 {
            width: 100%;
            min-height: 265px;

            @media only screen and (max-width: 1000px) {
              width: 50%;
              float: left;
            }
        }

        .container-1 {
            background: #FFFFFF;
            height: 380px;

            -webkit-transition: height ease-in 0.4s; /* Safari */
            transition: height ease-in 0.4s;

            .cont {
                text-align: center;
                height: 380px;
                line-height: 380px;

                &.collapse {
                    height: 685px;
                    line-height: 685px;

                    -webkit-transition: height ease-out 0.75s; /* Safari */
                    -webkit-transition: line-height ease-out 0.75s; /* Safari */
                    transition: height ease-out 0.75s;
                    transition: line-height ease-out 0.75s;
                }
            }

            .text {
                display: inline-block;
                vertical-align: middle;

                line-height: normal;

                .button-prim  {
                    margin-top: 50px;
                }
            }

            &.collapse {
                height: 685px;

                -webkit-transition: height ease-out 0.75s; /* Safari */
                transition: height ease-out 0.75s;
            }

            .back {
                position: absolute;
                margin-top: -100px;
            }
        }
    }

    img {
        width: 100%;
    }
}

.row-2 {
    background: #FFFFFF;
    width: 100%;
    display: table;

    .text-block-1,
    .text-block-2 {
        height: 272px;
        width: 20%;
        float: right;
        padding-right: 10px;

        strong {
            text-transform: uppercase;
        }
    }
}

//BUTTONS

.button-sec {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}

a.button-prim,
button.button-prim {
    border: 1px solid orange;
    background: white;
}

.cont {
    position:relative;
    /*border:solid 2px #fff;*/
}
.front, .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #005f5f;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }

    /* Options 2 - Float
    .nav li {
      float: left;
    }
    .nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }
    .nav {
      background-color: #444;
    }
    */
}
