.widget01 {
  @include clearfix;
    .widget01--container {
      position: relative;
      width: 100%;
      background: #ddd;
      min-height: 350px;
      overflow: hidden;

      @media only screen and (min-width: 771px) {
        float: left;
        width: 50%;
        min-height: 700px;
        background-size: cover;
      }

      @media only screen and (min-width: 1024px) {
        width: 25%;
      }

      img {
        width: 100%;
      }
    }

    .widget01--container--default .heading-wrapper {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      opacity: 0;

      @media only screen and (min-width: 771px) {
        bottom: 40px;
      }
    }

    .widget01--container--more-info {
      background: #aea276;

      .heading-wrapper {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        opacity: 0;

        @media only screen and (min-width: 771px) {
          bottom: 40px;
        }
      }

      .widget01--container--more-info--image {
        background-color: #fff;
        background-size: cover;
        background-repeat: no-repeat;
        top: -300px;
        opacity: 1;

        > div {
          opacity: 0;

          &.is-visible {
           opacity: 1;
           transition: opacity 0.5s ease-in-out;
         }
        }
      }
    }

    .widget01--container--swipe {
      background: #dbd7c7;
      color: #000;

      .slideshow {
        font-size: 14px;
        margin: 0;
        text-align: center;
        font-weight: 100;
        line-height: 1.6;
        color: #756d4f;
      }

      .slideshow-nav {
        position: absolute;
        bottom: 20px;
        z-index: 115;
        transform: translate(-50%, -50%);
        left: 50%;
        border: 1px solid white;
        color: white;
        font-weight: 100;
        padding: 10px 20px;
        font-size: 14px;
        letter-spacing: 0.05em;
        cursor: pointer;
      }
    }

    .widget01--container--cta {
      background: #e7e2cf;

      .widget01--block {
        text-align: center;
      }

      .content-container {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .widget01--subtitle {
        color: #b0a377;
        font-weight: normal;
        border-color: inherit;
      }

      .widget01--header {
        color: #000;
        font-size: 16px;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        padding-bottom: 2px;
        margin-top: 6px;
      }

      .widget01--button {
        color: #b0a377;
        border-color: inherit;
        margin-top: 16px;
      }

      .widget01--container--cta--image {
        bottom: -100px;

        > div {
          min-height: 350px;
        }
      }

      > div {
        opacity: 1;

        &.is-visible {
         opacity: 1;
         transition: opacity 0.5s ease-in-out;
       }
      }
    }

    .widget01--block {
      position: relative;
      min-height: 175px;

      @media only screen and (min-width: 771px) {
        min-height: 350px;
      }
    }

    .widget01--content {
      background-size: cover;
      min-height: 700px;
    }

    .widget01--subtitle {
      color: #fff;
      font-weight: 100;
      border-bottom: 1px solid white;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      padding-bottom: 2px;

      &-alt {
        text-align: center;
        color: #aea276;
        font-weight: 100;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        padding-top: 10px;
      }
      &-third {
        text-align: center;
        color: #000;
        font-weight: 100;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        padding-top: 10px;
      }
    }

    .widget01--header {
      padding: 1rem 0 0;
      margin: 0;
      color: #fff;


      text-transform: uppercase;
      letter-spacing: 0.75rem;
      font-size: 32px;
    }
}
