.widget-slider {
  position: relative;
  margin-top: 0;

  .heading-wrapper {
    position: absolute;
    bottom: 0;
    padding-bottom: 70px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.03em;
    background: linear-gradient(to top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%);
  }

  .widget-slider--header,
  .widget-slider--subtitle {
    color: #fff;
  }

  .widget-slider--header {
    font-size: 52px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }

  .widget-slider--subtitle {
    display: inline-block;
    border-top: 1px solid #9c7a4c;
    padding-top: 10px;
    margin-top: 5px;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    -webkit-font-smoothing: antialiased;
  }

  .widget-slider-container {
    min-height: 700px;
  }

  .widget-slider--content {
    position: relative;
    background-size: cover;
    min-height: 700px;
    max-height: 700px;
    overflow: hidden;

    .widget-slider--video {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      overflow: hidden;
      transform: translateX(0) translateY(0);
      bottom: 0;
      right: 0;
    }
  }

  .slideshow-pager {
    bottom: 20px;
  }
}
