.widget-04 {
    position: relative;
    overflow: hidden;

    .row-1 {
        width: 100%;
        min-height: 450px;
        background-size: cover;
    }

    .cont-1,
    .cont-2 {
        width: 100%;
        min-height: 265px;
    }

    .overlay {
        position: absolute;
        width: 25%;
        right: 10%;
    }

    .overlay-container-1 {
        top: -400px;
        min-height: 350px;
        position: relative;
        opacity: 0;

        @media only screen and (max-width: 1000px) {
            width: 100%;
            left: 0;
        }

        h3 {
            text-transform: uppercase;
            letter-spacing: 0.20em;

            &.title {
                color: #b0a377;
                font-size: 16px;
                font-weight: normal;
                margin-bottom: 25px;
            }

            &.text {
                font-weight: 500;
                letter-spacing: 0.10em;
                text-transform: none;
                font-size: 27px;
                width: 100%;
                margin-bottom: 80px;
            }
        }

        .cont-1 {
            background: #FFFFFF;
            position: relative;

            -webkit-transition: height ease-in 0.4s; /* Safari */
            transition: height ease-in 0.4s;

            @media only screen and (max-width: 545px) {
                width: 100%;
                float: left;
                height: 397px;
                max-width: 100%;
            }

            .cont {
                text-align: center;
                height: 390px;
                line-height: 390px;
            }


            .text {
                display: inline-block;
                vertical-align: middle;
                text-transform: uppercase;

                line-height: normal;

                .button-prim  {
                    margin-top: 50px;
                }
            }

            &.collapse {
                height: 715px;

                -webkit-transition: height ease-out 0.75s; /* Safari */
                transition: height ease-out 0.75s;
            }
        }
    }

    .overlay-container-2 {
        bottom: -350px;
        opacity: 0;
        min-height: 350px;
        position: relative;
    }

    img {
        width: 100%;
    }

    .row-2 {
        background: #FFFFFF;
        width: 100%;
        display: table;
        min-height: 155px;

        .text-block-1,
        .text-block-2 {
            height: 272px;
            width: 20%;
            float: right;
            padding-right: 10px;

            @media only screen and (max-width: 1000px) {
                width: 45%;
                float: left;
                padding: 5px;
            }

            strong {
                text-transform: uppercase;
            }
        }
    }
}
