.widget-04 {
    position: relative;
    overflow: hidden;
    min-height: 700px;

    .row-1 {
        width: 100%;
        min-height: 580px;
        background-size: cover;
    }

    .cont-1,
    .cont-2 {
        width: 100%;
    }

    .overlay {
        position: absolute;
        width: 25%;
        right: 10%;

        @media only screen and (max-width: 1000px) {
            width: 50%;
            right: 0;
            max-width: 397px;
        }

        @media only screen and (max-width: 545px) {
            width: 100%;
            float: left;
            height: 397px;
            max-width: 100%;
        }
    }

    .overlay-container-1 {
        background: #fff;
        top: -350px;
        max-height: 350px;
        position: relative;

        @media only screen and (max-width: 1000px) {
            width: 100%;
            left: 0;
        }

        h3 {
            text-transform: uppercase;
            letter-spacing: 0.15em;
            margin-bottom: 100px;
            font-weight: normal;
            font-size: 22px;

            &.title {
                color: #b0a377;
                font-size: 16px;
                font-weight: 100;
                margin-bottom: 25px;
            }

            &.text {
                font-weight: 500;
                letter-spacing: 0.10em;
                text-transform: none;
                font-size: 22px;
                width: 100%;
                margin-bottom: 80px;
            }
        }

        .cont-1 {
            position: relative;

            -webkit-transition: height ease-in 0.4s; /* Safari */
            transition: height ease-in 0.4s;

            @media only screen and (max-width: 545px) {
                width: 100%;
                float: left;
                height: 397px;
                max-width: 100%;
            }

            .cont {
                text-align: center;
                height: 390px;
            }


            .text {
                padding: 60px 0 0 0;
                text-transform: uppercase;

                .button-prim  {
                    margin-top: 50px;
                    font-size: 12px;
                    letter-spacing: 0.15em;
                    text-transform: none;
                }
            }

            &.collapse {
                height: 715px;

                -webkit-transition: height ease-out 0.75s; /* Safari */
                transition: height ease-out 0.75s;
            }
        }
    }

    .overlay-container-2 {
        bottom: -350px;
        min-height: 350px;
        position: relative;
    }

    img {
        width: 100%;
        max-height: 350px;
    }

    .row-2 {
        background: #FFFFFF;
        width: 100%;
        display: table;
        min-height: 155px;

        .text-block-1,
        .text-block-2 {
            height: 272px;
            width: 20%;
            float: right;
            padding-right: 10px;

            @media only screen and (max-width: 1000px) {
                width: 45%;
                float: left;
                padding: 5px;
            }

            strong {
                text-transform: uppercase;
            }
        }
    }
}
