.slideshow-container {
  position: relative;
  background: #000;
}

.slideshow {
  padding: 0;

  li {
    width: 100%;
    display: block;
  }
}

.slideshow-prev,
.slideshow-next {
    position: absolute;
    z-index: 115;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.slideshow-pager {
  text-align: center;
  width: 100%;
  z-index: 115;
  position: absolute;
  overflow: hidden;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;

  span {
    width: 12px;
    height: 12px;
    display: inline-block;
    color: #ddd;
    cursor: pointer;
    background: #a7a7a7;
    border-radius: 50%;
    margin-right: 10px;

    &.cycle-pager-active {
      background: #fff;
    }
  }
}
